@model List<RazorSectionsLayouts.Controllers.Item>

@{
  ViewBag.Title = "title";
  Layout = "_Layout3Columns";
}

@section secondary {
  <div class="m-4 font-bold bg-rose-50 rounded-md p-3">Parents</div>

  <ul>
    @foreach (var item in Model)
    {
      <li class="m-4 font-semibold bg-sky-50 rounded-md p-3">@Html.ActionLink(item.Name, "ParentChild", new
                                                             {
                                                               id = item.Id
                                                             })</li>
    }
  </ul>

}
